# Unit 19. 중첩 반복문

## 19.1 중첩(Nested) for loop

In [1]:
for i in ragne(1, 6):
  for k in range(10, 60 ,10):
    print(k, end-' ')
  print(i)

NameError: ignored

## 19.2 별 사각형

In [3]:
for i in range(5):
  for _ in range(5):
    print('*', end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
# 평행사변형
for i in range(4):
  for _ in range(0, i):
    print(' ', end='')
  for _ in range(5):
    print('*', end='')
  print()

*****
 *****
  *****
   *****

In [ ]:
for i in range(0,0):
  print('*')

In [6]:
for i in range(4):
  print(' '*i,'*'*5, sep='')

*****
 *****
  *****
   *****

## 19.3 계단식으로 별 출력하기

In [8]:
for i in range(5):
  for _ in range(i+1):
    print('*', end='')
  print()

*
**
***
****
*****

In [12]:
for i in range(5):
  print('*'*(i+1)

*
**
***
****
*****

In [11]:
for i in range(5):
  for _ in range(i):
    print(' ', end='')
  for _ in range(5-i):
    print('*', end='')
  print()

*****
 ****
  ***
   **
    *

In [14]:
for i in range(5):
  print(' '*i,'*'*(5-i),sep='')

*****
 ****
  ***
   **
    *

### Diamond 그리기

In [20]:
# 내 답변

for i in range(5):
  for k in range(i):
    print(' '*(5-i),'*'*i,' '*(5-i), sep='')
for a in range(4):
  for b in range(a):
    print(' '*i,'*'*(4-i),' '*i, sep='')

    *
   **
   **
  ***
  ***
  ***
 ****
 ****
 ****
 ****

In [23]:
# 정답

for i in range(5):
  for _ in range(4-i):
    print(' ', end='')
  for _ in range(2*i+1):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********

In [24]:
for i in range(4):
  for _ in range(i+1):
    print(' ', end='')
  for _ in range(7-2*i):
    print('*', end='')
  print()

 *******
  *****
   ***
    *

In [25]:
for i in range(5):
  for _ in range(4-i):
    print(' ', end='')
  for _ in range(2*i+1):
    print('*', end='')
  print()
for i in range(4):
  for _ in range(i+1):
    print(' ', end='')
  for _ in range(7-2*i):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [27]:
for i in range(5):
  print(' '*(4-i), '*'*(2*i+1), sep='')
for i in range(4):
  print(' '*(i+1), '*'*(7-2*i), sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [28]:
for i in range(-4,5):
  print(' '*(abs(i)),'*'*(-2*abs(i)+9),sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *