# Unit 22. 리스트, 튜플 응용

## 22.1 리스트 조작

### 22.1.1. 리스트에 요소 추가하기

- append: 요소 하나를 추가 - for에서 쓰임
- extend: 리스트를 연결하여 확장 - 1차원적 확장!
- insert: 특정 인덱스에 요소 추가

In [ ]:
a = [10, 20, 30]

In [ ]:
# 리스트 맨 뒤에 요소 하나를 추가하는 메쏘드(method)
a.append(500)
a

[10, 20, 30, 500]

In [ ]:
a.append(['a','b','c'])
a

[10, 20, 30, 500, ['a', 'b', 'c']]

In [ ]:
b = [10, 20, 30]
b.extend(['x','y'])
b

[10, 20, 30, 'x', 'y']

In [ ]:
# 매우 중요한 구문
empty_list = []
for i in range(5):
  empty_list.append(i)
empty_list

[0, 1, 2, 3, 4]

In [ ]:
del a[4]
print(a)

[10, 20, 30, 500]

In [ ]:
# Last in fist out - lifo stack 나중에 들어온 놈이 먼저나감. 제일처음에 들어온 놈 제일 늦게 나감 쌓은 파일같이
# Queue - First in fist out FIFO 먼저들어온놈 먼저나감. 

stack = []
stack.append(1); stack.append(2); stack.append(3);
stack

[1, 2, 3]

In [ ]:
value = stack.pop()
print(value, stack)

3 [1, 2]

In [ ]:
stack

[1, 2]

In [ ]:
queue = []
queue.insert(0,1); queue.insert(0,2); queue.insert(0,3)
queue

[3, 2, 1]

In [ ]:
value2 = queue.pop()
print(queue, value2)

[3, 2] 1

### 다양한 메쏘드

- index 확인

In [ ]:
a = [10, 20, 30, 40, 50, 10]
a.index(30)

2

In [ ]:
if 45 in a:
  a.index(45)

In [2]:
num = 45
if num in a:
  idx = a.index(num)
idx

NameError: ignored

In [ ]:
a.count(10)

2

In [ ]:
a = [10, 20, 30, 40, 50, 10]
a.index(30), a.index(40)

(2, 3)

### 정렬(Sort)

- 오름차순(ascending order)가 기본값

In [ ]:
a = [20, 10, 15, 30, 40]
a.sort()
a

[10, 15, 20, 30, 40]

In [ ]:
b = [20, 10, 15, 30, 40]
sorted(b)
b

[20, 10, 15, 30, 40]

In [ ]:
b = [20, 10, 15, 30, 40]
b = sorted(b)
b

[10, 15, 20, 30, 40]

In [ ]:
# 내림차순(descending order)
a = [20, 10, 15, 30, 40]
a.sort(reverse=True)
a

[40, 30, 20, 15, 10]

## 22.2 리스트의 할당과 복사

In [ ]:
 # Shallow copy. 실제 리스트는 1개
 a = [0, 0, 0, 0]
 b = a
 b

[0, 0, 0, 0]

In [ ]:
b[2] = 99
b

[0, 0, 99, 0]

In [ ]:
a

[0, 0, 99, 0]

In [ ]:
 # 데이터를 전부 별도의 기억장소에 복사. 리스트 2개
 a = [0, 0, 0, 0]
 b = a.copy()
 b

[0, 0, 0, 0]

In [ ]:
b[2] =99
a

[0, 0, 0, 0]

In [ ]:
b

[0, 0, 99, 0]

## 22.3 리스트와 반복문

- for 반복문으로 요소를 출력할 때 인덱스도 함께 출력하려면 enumerate를 사용합니다.

In [ ]:
for fruit in ['apple', 'banana', 'cherry']:
  print(fruit)

apple
banana
cherry

In [ ]:
# 자주쓰이는 enumerate
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [ ]:
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

## 22.4 리스트에서 min, max, sum 함수 활용

In [ ]:
a = [38, 21, 53, 62, 19]
a.sort()   
a[0]    # min(a)
a[-1]   # max(a)

62

In [ ]:
a = [38, 21, 53, 62, 19]
sorted(a)[0] #min(a)

19

In [ ]:
# a 원소의 합
sum_of_list = 0
for elem in a:
  sum_of_list += elem
sum_of_list, sum(a)

(193, 193)

## 22.5 리스트 표현식(Comprehension)

In [ ]:
[fruit for fruit in fruits]

['apple', 'banana', 'cherry']

In [ ]:
[fruit*index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry']

In [ ]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list(i*i for i in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq_list = []
for i in range(1,11):
  sq_list.append(i*i)

sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 22.5.1 리스트 표현식에서 if 조건문 사용하기

In [ ]:
[i*i for i in range(1,11,2)]

[1, 9, 25, 49, 81]

In [ ]:
[i*i for i in range(1,11) if i%2 ==1]

[1, 9, 25, 49, 81]

In [ ]:
2 % 2

0

### for 가 여러번 나오게 할 수 있음

In [ ]:
# 구구단 
a = [i*k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
a = [ i*k for i in range(2,10)
            for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 리스트에 map 사용

In [ ]:
a = [1.2, 2.3, 3.5, 4.7]
for i in range(len(a)):
  a[i] = int(a[i])
a

[1, 2, 3, 4]

In [ ]:
a = [1.2, 2.3, 3.5, 4.7]
for i, val in enumerate(a):
  a[i] = int(val)
a

[1, 2, 3, 4]

In [ ]:
a = [1.2, 2.3, 3.5, 4.7]
a = list(map(int,a))
a

[1, 2, 3, 4]

## 22.7 tuple

In [ ]:
tuple(i*i for i in range(1,11) if i % 2 == 0)

(4, 16, 36, 64, 100)

In [ ]:
# 연습문제

# a +b +c = 1000(a<b<c)
# a*a +b*b=c*c인 피타고라스 수는?
# 답 200 375 425

a = list(range(1,1001))
b = list(range(1,1001))
c = list(range(1,1001))

for index in a:
  print(ind)
if a*a+b*b==c*c and a+b+c == 1000:
  print(a, b, c)

TypeError: ignored

In [3]:
#정답
for a in range(1,333):
  for b in range(a+1,500):
    c=1000-a-b
    if c*c == a*a +b*b:
      print(a, b, c)

200 375 425

In [5]:
[(a,b,c) for a in range(1,333)
            for b in range(a+1,500)
              for c in range(b+1,1000)
                           if a+b+c==1000 and a*a+b*b == c*c]

[(200, 375, 425)]

In [ ]:
# 연습문제2 만나이 구하기
본인의 생일을 1998 12 15와 같이 년 월 일로 입력받아 오늘 날짜의 만나이를 구하는 프로그램을 작성하시오.

In [ ]:
#날짜 메쏘드

from datetime import date
today = date.today()
today.year, today.month, today.day

(2021, 7, 29)

In [8]:
#답
if month > today.month :
  age = today.year - year -1
elif month < today.month :
  age = today.year -year
else:
  if day > today.day :
    age = today.year - year - 1
  else:
    age - today.year- year
print(f'만 난이는 {age} 입니다')

NameError: ignored

In [ ]:
#디지털 시계
#디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초 일까요?
#디지털 시계는 하루동안 00:00~23:59로 표시됨

In [ ]:
clock_time=[]
time_in_sec=-

for i in range(24):
  for k in range(60):
    if i==3 or i==13 or k==3 or k==13 or k==23 or k==33 or k==43

In [9]:
#정답
total_seconds = 0
for hour in range(24):
  for min in range(60):
    time= f'{hour:02d}:{min:02d}'
    if '3' in time:
      total_seconds += 60
print(total_seconds)

29700