# Unit. 25 딕셔너리 응용

## 25.1 딕셔너리 조작

### 25.1.1. 딕셔너리에 키-값 쌍 추가하기

In [9]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x.setdefault('e',100)
x

# etdefault(키)는 딕셔너리에 키-값 쌍을 추가합니다.
# setdefault에 키만 지정하면 값에 None을 저장합니다. 
# 다음은 키 'e'를 추가하고 값에 None을 저장합니다.

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [4]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
y = x.setdefault('e',100)
x, y

({'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}, 100)

In [5]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x.update(a=90)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [6]:
x.update(e=100)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [8]:
# update는 주로 할당으로 한다. 아래와 같이 씀

x = {'a':10, 'b':20, 'c':30, 'd':40}
x['e'] = 100
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [10]:
x['a'] = 90
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [11]:
x.pop('e')

100

### 키-값 쌍 모두 가져오기

In [12]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x.items()   # 리스트 안에 튜플이 들어가 있음. 튜플에서 왼쪽이 key, 오른쪽이 value값임

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [13]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [14]:
x.values()

dict_values([10, 20, 30, 40])

### 리스트와 튜플로 new 딕셔너리 생성하기

In [15]:
# key와 value 바꿔주기
dict(zip(x.values(), x.keys()))

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [16]:
k = ('a','b','c','d')
v = (10,20,30,40)
dict(zip(k,v))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

## 25.2 반복문

- for key, value in x.items():는 딕셔너리 x에서 키-값 쌍을 꺼내서 키는 key에 값은 value에 저장하고, 꺼낼 때마다 코드를 반복합니다. 따라서 print로 key와 value를 출력하면 키-값 쌍을 모두 출력할 수 있습니다.

In [17]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
for key, value in x.items():
 print(f'{key}:{value}')

a:10
b:20
c:30
d:40

In [18]:
for key in x.keys():
  print(f'{key}:{x[key]}')

a:10
b:20
c:30
d:40

In [21]:
for i, (k, v) in enumerate(x.items()):
  print(i, k, v)

0 a 10
1 b 20
2 c 30
3 d 40

## 25.3 딕셔너리 표현식

In [29]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x2 = {key: value*value for key, value in x.items()}
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [24]:
#위에것을 풀어 쓰면 아래와 같음
x2 = {}
for key, value in x.items():
  x2[key] = value*value
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

### 25.4 딕셔너리 안에서 딕셔너리  사용

In [25]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
terrestrial_planet['Venus']['mean_radius']

6051.8

In [46]:
results={'results': {'common': {'countPerPage': '10',
   'currentPage': '1',
   'errorCode': '0',
   'errorMessage': '정상',
   'totalCount': '1'},
  'juso': [{'admCd': '4215013700',
    'bdKdcd': '0',
    'bdMgtSn': '4215013700100940000017657',
    'bdNm': '경포대',
    'buldMnnm': '365',
    'buldSlno': '0',
    'detBdNmList': '',
    'emdNm': '저동',
    'emdNo': '03',
    'engAddr': '365, Gyeongpo-ro, Gangneung-si, Gangwon-do',
    'jibunAddr': '강원도 강릉시 저동 94 경포대',
    'liNm': '',
    'lnbrMnnm': '94',
    'lnbrSlno': '0',
    'mtYn': '0',
    'rn': '경포로',
    'rnMgtSn': '421503220002',
    'roadAddr': '강원도 강릉시 경포로 365(저동)',
    'roadAddrPart1': '강원도 강릉시 경포로 365',
    'roadAddrPart2': '(저동)',
    'sggNm': '강릉시',
    'siNm': '강원도',
    'udrtYn': '0',
    'zipNo': '25461'}]}}

results['results']['juso'][0]['roadAddr']

'강원도 강릉시 경포로 365(저동)'

In [62]:
result = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

lat = float(result['documents'][0]['y'])
lng = float(result['documents'][0]['x'])
print(f'위도: {lat:.6f}, 경도:{lng:.6}')

위도: 37.795569, 경도:128.897