# Unit 29. 함수

- 같은 코드가 반복될 경우, 함수형태로 만들어 놓으면 프로그램이 간결해지고 실수를 줄일 수 있다.

## 29.1 출력 함수 만들기

In [2]:
def hello():
  print('Hello, world!')

In [4]:
hello()

Hello, world!

In [5]:
def hello2():
  print('Hello, world!')

In [6]:
hello2()

Hello, world!

In [7]:
def hello():
  pass

## 29.2 덧셈 함수

In [8]:
#매개변수, parameter, argument
def add(a, b):
  print(a+b)

In [11]:
add(4,5)

9

In [12]:
# Docstrings
def add(a,b):
  """
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
  """
  print(a + b)

In [15]:
#도움말 호출
add?

In [16]:
print?

## 29.3 결과값 반환

In [17]:
def add(a,b):
  return a+b

In [18]:
add(4,5), add(10,20)

(9, 30)

In [19]:
x =add(23,45)
x

68

In [20]:
def is_ten(x):
  return x==10

In [21]:
is_ten(101//10)

True

In [24]:
def not_ten(x):
  if x==10:
    return
  else:
    print('It is not 10.')

In [26]:
not_ten(9)

It is not 10.

In [27]:
def not_ten(x):
  if x==10:
    return
  print('It is not 10.')

In [28]:
not_ten(1)

It is not 10.

## 29.4. 여러개의 결과값 반환

In [29]:
def add_sub(a,b):
  return a+b, a-b

In [30]:
x, y = add_sub(15,7)

In [31]:
x, y

(22, 8)

## 29.5 함수의 호출 과정

- stack을 이용

### 연습문제

- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때, 가장 큰 숫자는?
- Palindrome은 중간값을 기준으로 앞뒤가 데칼코마니같이 같음. ex 이효리 12321

In [34]:
def mul(x,y):
  print.mul(x*y)

In [ ]:
if mul is

In [35]:
# 정답

def is_palindrom(x):
  s = str(x)
  return s == s[::-1]

In [36]:
is_palindrom(12345), is_palindrom(906609)

(False, True)

In [38]:
max_pal, m, n = 0, 0, 0
for i in range(100,1000):
  for k in range(i, 1000):
    if is_palindrom(i*k):
      if i*k > max_pal:
        max_pal= i*k
        m = i
        n = k

print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609