# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

- 위치인수가 먼저오고 키워드인수가 나중에 옴

In [1]:
print(10, 20, 30)   # 10 20 30 위치인수

10 20 30

In [2]:
print(10, 20, 30, sep=', ')    #sep=', ' 키워드 인수

10, 20, 30

In [3]:
print(10, 20, 30, sep=', ', 40)    #순서는 항상 위치인수가 먼저 키워드인수가 나중

SyntaxError: ignored

In [6]:
print(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)   #위치인수 갯수와 무관

10 20 30 40 50 60 70 80 90 100

In [7]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [8]:
print_numbers(10,20,30)

10
20
30

In [11]:
# *x *y : 리스트, 튜플 언팩킹 
x, y = [10,20,30], (40,50,60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수 variable argument(인수의 갯수가 정해지지 않은 인수)

- 같은 함수에 인수 한개를 넣을 수 있고 10개를 넣을 수도, 안 넣을 수도 있다.
- 매개변수 앞에 *를 붙인다. 함수이름( * 매개변수)

In [12]:
def print_numbers(*args):
  for arg in args:
    print(arg)

In [13]:
print_numbers(10,20,30,40)

10
20
30
40

### 고정 인수와 가변인수

- def print_numbers(a, *args):   a 고정인수, * args 가변인수
- ...     print(a)
- ...     print(args)
- 고정 위치 인수가 가변 위치 인수보다 먼저 나온다

In [16]:
def print_numbers3(a, *args):
  print(a)
  print(args)

In [17]:
print_numbers3(1,10,20)

1
(10, 20)

In [18]:
print_numbers3(*x)

10
(20, 30)

In [ ]:
print_numbers4(a, *args):

## 30.2 키워드 인수

- 위치와 관계없이 키워드가 같으니 결과값이 동일

In [19]:
def personal_info(name, age, addr):
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [20]:
personal_info('홍길동',30,'서울 강남구')

이름: 홍길동
나이: 30
주소: 서울 강남구

In [21]:
personal_info(age=30,addr='서울 강남구 도곡동',name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

- 딕셔너리에 '키워드': 값 형식으로 인수를 저장하고, 앞에 **를 붙여서 함수에 넣어줍니다. 이때 딕셔너리의 키워드(키)는 반드시 문자열 형태라야 합니다.

- 딕셔너리는  * * 처럼  * 를 두 번! 딕셔너리는 키-값 쌍 형태로 값이 저장되어 있기 때문

In [29]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

### 가변 키워드 인수

- 관례적으로 keyword arguments를 줄여서 kwargs. for로 반복가능

- def personal_info(**kwargs):
-     for kw, arg in kwargs.items():
-         print(kw, ': ', arg, sep='')

In [30]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [31]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [33]:
personal_info2(name='홍길동',age=30)

name: 홍길동
age: 30

### 고정 인수와 가변 키워드 인수

- 고정 매개변수를 먼저 지정하고, 그 다음 매개변수에 **를 붙임.
- def personal_info(name, **kwargs):

In [34]:
def personal_info3(name, **kwargs):
  print(name)
  print(kwargs)

In [35]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [39]:
def my_print(*args, **kwargs):
  print(*args,**kwargs)

my_print(10,20,30, sep=', ')

10, 20, 30

### 30.4 매개변수에 초기값 지정

- 함수이름(매개변수=값):
- 초기값이 지정된 매개변수는 맨 뒤에 위치.

In [50]:
def personal_info4(name, age, addr='비공개'):
     print('이름: ', name)
     print('나이: ', age)
     print('주소: ', addr)

In [42]:
personal_info4('홍길동',30)

이름:  홍길동
나이:  30
주소:  비공개

In [51]:
personal_info4(**x)

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동