# Unit 31. 재귀호출 (Recursive call)

- n! = n*(n-1)! 단 n=0일 경우 1
- 0! = 1

In [1]:
def factorial(n):
  if n==0:             # n==1:
    return 1
  return n*factorial(n-1)

In [2]:
factorial(5)

120

In [32]:
# 피보나치 수열 함수로 만들기
def fibo(n):
  a=1
  b=1
  if n==1:
    print('0')
  elif n==2:
    print('0', '1')
  else:
    print(1)
    print(1)
    for i in range(n-3):
       total = a + b
       b=a
       a=total
       print(total)

fibo(15)

1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [21]:
fibo(3)

2

In [33]:
def fibo(n):
  if n ==1 or n==2:
    return 1
  return fibo(n-1) + fibo(n-2)

In [35]:
[fibo(i) for i in range(1,11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]