# Unit 32. 람다 함수(람다 표현식, 익명 Anonymous 함수)

## 32.1 람다 표현식으로 함수 만들기

In [1]:
def plus_ten(x):
  return x+10

In [2]:
plus_ten(15)

25

In [7]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [8]:
(lambda x: x+10)(5)

15

In [9]:
# 사용 예
map(lambda x: int(x)+10, input().split())

2 5 10

In [10]:
list(map(lambda x: int(x)+10, input().split()))

2 5 10

[12, 15, 20]

In [12]:
def plus_ten(x):
  return int(x)+10
list(map(plus_ten, input().split()))

2 5 10

[12, 15, 20]

### 제약 사항

- 람다함수에서 변수를 만들 수 없음 (lambda x: y=10; x+y)  -> y= 10 (lambda x:x+y)(3)

In [13]:
(lambda x: y=10; x+y)

SyntaxError: ignored

In [14]:
y= 10 
(lambda x:x+y)(3)

13

### 32.2.1 람다함수에서 조건부 표현식 사용하기

- 식1 if 조건식 else 식2

In [19]:
# 리스트 a에서 3의 배수를 문자열로 반환
a = list(range(1,16))
list(map(lambda x:str(x) if x%3==0 else x, a))   # 3항 연산자

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10, 11, '12', 13, 14, '15']

In [20]:
# 리스트 a에서 3의 배수는 문자열로, 5의 배수는 실수로 변환
list(map(lambda x:str(x) if x%3==0 else float(x) if x%5==0 else x, a))

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0, 11, '12', 13, 14, '15']

### map에 여러개 객체 넣기

- lmabda x, y : x *y

In [21]:
a = [1,2,3,4,5]
b =[6,7,8,9,10]
list(map(lambda x, y: x*y,a, b))

[6, 14, 24, 36, 50]

### filter

- 범위 지정.

In [22]:
a = list(range(1,11))
list(filter(lambda x:4 <= x < 8,a))

[4, 5, 6, 7]