# Unit 10. 리스트와 튜플

## 10.1 리스트

In [1]:
A = [38, 21, 53,  62, 19]
A

[38, 21, 53, 62, 19]

In [5]:
# 파이썬에서 리스트를 저장할 때, 리스트 엘리먼트가 다른 자료형도 가능 (순서보장)
person = ['James', 19, 175.4, True, [120, 80]]
person

['James', 19, 175.4, True, [120, 80]]

In [6]:
person_dict = {'name' : 'James', 'age' : 19, 'height' : 175.4,
          'is_male' : True, 'bp' : [120,80]}
person_dict                                                                  # 위의 person은 다음과 같은 딕셔너리로 변경하여 사용하는 것이 권장됨(순서 보장안됨)

{'age': 19, 'bp': [120, 80], 'height': 175.4, 'is_male': True, 'name': 'James'}

### 빈 리스트 만들기

In [7]:
a = []
b = list()
a, b

([], [])

In [8]:
a, b = [], []

### Range
- range([시작숫자,] **끝나는 숫자+1** [, 증가분])                        * [] 는 여기서 옵션. 반드시 나와야 하는 것은 끝나는 숫자
- 시작값을 안쓰면 0이 디폴트

In [9]:
a = range(10)
a

range(0, 10)

In [10]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(1,11))               # 이렇게는 잘 안쓰임

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [14]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
- 리스트와의 차이는 한번 만들어진것은 변경 불가능. 새롭게는 계속해서 만들수 있음 즉, Read-only 특성(변경 불가)
- 파이썬에서만 존재
- 괄호를 안붙이고 나열하면 ()로 값이 표현된다 ex) a = 1, 3, 5,
- 리스트는 빈 리스트를 가지고 프로그래밍을 많이하지만 튜플은 빈것은 없다 a = (,)
- 단 한개의 element도 콤마를 써서 표현해야함. 콤마 쓰지 않으면 튜플 아님

In [16]:
a = (38, 21, 47)
a

(38, 21, 47)

In [17]:
a = 38, 21, 47
a

(38, 21, 47)

In [18]:
person = ('James', 19, 175.4, True, [120, 80])
person

('James', 19, 175.4, True, [120, 80])

In [20]:
a = tuple()
a

()

In [21]:
# a는 정수
a = (38)
a

38

In [22]:
# a는 튜플
a = (38,)
a

(38,)

In [23]:
tuple(range(5))

(0, 1, 2, 3, 4)

### 리스트 <-> 튜플

In [27]:
a = [1, 2, 3] 
b = tuple(a)                                      #a 안에 콤마가 있으니까 가능
b

(1, 2, 3)

In [28]:
c = list(b)
c

[1, 2, 3]

### 문자열
- 문자열 개별로

In [29]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [30]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

###  언팩킹(Unpacking)

- 튜플이나 리스트는 엘리먼트 갯수만 맞으면 언팩킹 됨

In [31]:
# Tuple Unpacking
a = (1, 3, 4)
x, y, z = a
x, y, z

(1, 3, 4)

In [32]:
# List Unpacking
x, y, z = [1, 3, 5]
x, y, z

(1, 3, 5)